.tip-top{
    position: fixed;
    opacity: 0;
    right: 0px;
    width: 30%;
    left: 0;
    margin: 0 auto;
    text-align: center;
}

.alert-hidden {
    -webkit-animation: 3s fadeInOut ease;
    -o-animation: 3s fadeInOut ease;
    animation: 3s fadeInOut ease;
}

@keyframes fadeInOut {
    from {
        opacity:1;
	}
    to {
        opacity:0;
    }
}